;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies []
 :builds
 {:app
  {:target :node-script
   :output-to "target/main.js"
   :main xamfoo.day03/main!
   :devtools {:after-load xamfoo.day03/main!}}}}
